.cardapio{
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    padding: 32px 80px;
}
.cardapio-titulo{
    height: 65px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.cardapio-titulo h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--cor-primaria);

}
.cardapio-favoritas{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 30px;
}
.header-area{
    display: flex;
    justify-content: space-between;

}
.header-area p{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-primaria);
}
.produtos-container{
    display: flex;
    justify-content: space-between;
}
.cardapio-menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 30px;

}

.cardapio-bebidas{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cardapio-bebidas .bebida{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    transition: .5s;
    padding: 8px;

}
.cardapio-bebidas .add{
    position: absolute;
    top: -20px;
    right: -20px;
    opacity: 0;
    transition: .5s;
    
}
.cardapio-bebidas .bebida:hover{
    box-shadow: 2px 2px 4px var(--cor-sombra);
    border-radius: 4px;

}
.cardapio-bebidas .bebida:hover .add{
    opacity: 1;
}
.cardapio-bebidas .info{
    display: flex;
    flex-direction: column-reverse;
}
.cardapio-bebidas .info-preco{
    color: var(--cor-primaria);
    font-weight: 600;
}
.cardapio-bebidas .info-texto{
    font-size: .8rem;
}
/* TABLET */
@media (max-width: 768px){
    .bebida:nth-child(1){
        display: none;
    }
    .bebida:nth-child(2){
        display: none;
    }
    .bebida:nth-child(3){
        display: none;
    }
}

/* MOBILE */
@media (max-width:480px){

    .cardapio{
        height: 100%;
    }
    .cardapio-titulo h3{
        font-size: 1.5rem;
    }
    .header-area p{
        font-size: 1.0rem;

    }

    .cardapio-favoritas{
        display: none;
    }

    .bebida:nth-child(4){
        display: none;
    }
   
    .produtos-container{
        display: flex;
        flex-direction: column;
    }
}