
header{
    position: absolute;
    height: 60px;
    top: 60px;
    left: 80px;
    right: 80px;
    display: flex;
    justify-content: space-between;
}
header .logo-container{

    width: 150px;
    display: flex;
    gap: 12px;
    align-items: center;
    font-family: 'Pattaya', sans-serif;
    font-size: 24px;
    color: var(--cor-primaria);
}
.container-menu{
    display: flex;
}

.menuhamburger{
    display: none;
    color: var(--cor-branco);
    font-size: 32px;  
}

.iconelogin{
    display: none;
}

header .menu ul{
    height: 100%;
    display: flex;
    gap: 48px;
    align-items: center;
    font-size: 1rem;
}
header .menu ul a{
    padding: 2px 8px 2px 8px;
    transition: .5s;
}

header .menu ul a:hover{
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    box-shadow: 0px 4px 8px var(--cor-sombra);
}

header .botao-container{
    height: 60px;
    width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .botao{
    height: 48px;
    width: 120px;
    background: var(--cor-secundaria);
    box-shadow: 0px 4px 8px var(--cor-sombra);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--cor-primaria);
    font-weight: 600;
}
/* tablet */
@media (max-width: 768px){

    header .menu {
        display: none;
    }
    .container-menu{
        display: flex;
        align-items: center;
    }
    .menuhamburger{
        display: flex;
    }

}
/* MOBILE */
@media (max-width:480px){

    header{
        top: 22px;
        left: 22px;
        right: 22px;
    }

    header .logo-container{
        font-size: 18px; 
    }
    .container-menu{
        gap: 18px;
    }
    header .botao-container{
        display: none;
    }

    .iconelogin{
        display: flex;
    }
}
