.home {
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.conteudo-container {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 80px;
}

.conteudo-container .texto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 520px;
}

.conteudo-container h2 {

    width: 558px;
    font-size: 4rem;
    font-weight: 400;
    font-style: italic;
}

.conteudo-container div {
    display: flex;
    justify-content: flex-start;
    width: 960px;
    
}

.conteudo-container .pizzamenor{
    display: none;
}

.conteudo-container .pizzametade{
    display: none;
}

.texto-laranja {
    color: var(--cor-primaria);
}

.destaque-container {
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

@media (max-width: 768px) {
    .home {
        background-image: url(../img/fundo\ tablet.png);
        background-position: top left;
    }

    .conteudo-container .texto {
        width: 200px;
    }

    .conteudo-container h2 {
        font-size: 3rem;
    }
    .conteudo-container{
        margin-top: 160px;
        justify-content: center;
        align-items: center;
        
    }
    .conteudo-container .pizzamaior{
    display: none;

    }
    .conteudo-container .pizzamenor{
        display: flex;

    }
    .destaque-container{
        margin-bottom: 50px;
    }

    .produto:nth-child(3) {
        display: none;
    }

    .produto:nth-child(4) {
        display: none;
    }

}
/* MOBILE */
@media (max-width:480px){
 
   .home{
    background-color: brown;
    top: 20px;
    left: 16px;
    right: 16px;
    
   }
    .conteudo-container .pizzamenor {
        display: none;
    }

    .conteudo-container .pizzametade{
        display: flex;
        right: 100%;
    }
    .conteudo-container .texto {
       
        background-color: blue;
        width: 111px;
        height: 300px;
     
    }

    .conteudo-container h2 {
        font-size: 2.0rem;
    }

    .destaque-container{
        display: none;
    }

}

