.home {
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.conteudo-container {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 80px;
}

.conteudo-container .texto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 520px;
}

.conteudo-container h2 {

    width: 558px;
    font-size: 4rem;
    font-weight: 400;
    font-style: italic;
}

.conteudo-container div {
    display: flex;
    justify-content: flex-start;
    width: 960px;
}

.conteudo-container .pizzamenor{
    display: none;
}

.texto-laranja {
    color: var(--cor-primaria);
}

.destaque-container {
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

@media (max-width: 768px) {
    .home {
        background-image: url(../img/fundo\ tablet.png);
        background-position: top left;
    }

    .conteudo-container .texto {
        width: 308px;
    }

    .conteudo-container h2 {
        font-size: 3rem;
    }
    .conteudo-container{
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
    .conteudo-container .pizzamaior{
    display: none;

    }
    .conteudo-container .pizzamenor{
        display: flex;

    }

    .produto:nth-child(3) {
        display: none;
    }

    .produto:nth-child(4) {
        display: none;
    }
}
