:root{
    --cor-primaria: #f07807;
    --cor-secundaria: #fef2e7;
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-sombra: #0008;
}

body{
    background-color: var(--cor-secundaria);
    font-family: 'Poppins', sans-serif;
}

main{
    background-color: var(--cor-secundaria);
}
section{
    height: 100vh;
    width: 100%;
}
.linha{
    border-bottom: 2px solid var(--cor-secundaria)
}